@import url('https://fonts.googleapis.com/css2?family=Lunasima&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .background-home{
background-color: black;
width: 100%;
height: 100vh;
} */

.flex-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background: #4f7dba;
    box-shadow: inset 26px 26px 52px #20324a,
                inset -26px -26px 52px #7ec8ff;
}

.head-one{

}

.head-one h1{
    text-transform: capitalize;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Lunasima', sans-serif;
    padding: 7px;
    font-weight: bold;
    border: 2px solid;
    font-size: 1.2rem;
    border-radius:10px 20px 10px 10px ;
    border-color: #08ff04;
}

.icone{
    
    margin-right: 50px;
}

.icone span{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
   
}

.siders{
 position: fixed;
 z-index: 1;
 overflow: hidden;
 transition:all 0.5s ;
    display: block;
    width:0px;
    height: 350px;
    border-radius: 19px;
    background: linear-gradient(145deg, #4771a7, #5586c7);
    box-shadow:  5px 5px 10px #20324a,
                 -5px -5px 10px #7ec8ff;
    border-radius: 20px;
    top: 0px;
    left: 0px;

}

.siders button{
    border: none;
    outline: none;
    margin-top: 30px;
    background-color: transparent;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    font-size: 1rem;
}


.siders a{
    display: block;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(246, 246, 246);
    font-weight: bold;
    font-family: 'Lunasima', sans-serif;
}